body {
  font-family: 'Roboto', sans-serif;
}


.top-container {
  background-color: #f4f4f4;
  .layout {
    max-width: 1320px;
    margin: auto;
  }
}


.container {
  max-width: 1320px;
  margin: auto;
}


.top-line {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #AAAAAA;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
}
.phone {
  text-decoration: none;
  margin-left: 25px;
  margin-right: 25px;
  color: #AAAAAA;
}
.language-list {
  border: none;
  background-color: #f4f4f4;
  color: #aaa;
  outline: none;
  margin-right: 25px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 50px;
}
.logo {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list-item {
  margin-right: 100px;
}
.nav-list-link {
  text-decoration: none;
  color: #000;
}
.right-side {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.cart-icon {
  margin-left: 45px;
}
.header-title {
  margin-left: 10px;
  font-weight: normal;
  font-size: 12px;
}

.main-region {
  margin-bottom: 210px;
}
.main-text {
  display: flex;
  justify-content: center;
  margin-top: 95px;
  align-items: center;
}
.main-title {
  font-size: 48px;
  line-height: 58px;
  color: #1a1a1a;
  max-width: 355px;
  margin: 0;
}
.main-description {
  max-width: 570px;
  margin-left: 136px;
  font-size: 24px;
  line-height: 40px;
  color: #AAAAAA;
}


.example-region {
  display: flex;
  padding: 0 48px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 250px;
  :nth-child(odd) {
    margin-right: 25px;
  }
  .example-card {
    flex-basis: 45%;
    max-width: 588px;
    margin-bottom: 32px;
  }
}
.example-title {
  margin-top: 10px;
  font-size: 24px;
  line-height: 28px;
  color: #1A1A1A;
  font-style: normal;
  font-weight: normal;
}

.brands-region {
  margin-bottom: 190px;
  text-align: center;
}
.brands-title {
  margin-bottom: 28px;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 48px;
  color: #1A1A1A;
}

.brands-text {
  color: #4A4A4A;
  margin-bottom: 125px;
  font-size: 24px;
  line-height: 36px;
}

.brands-row {
  margin-bottom: 49px;
  display: flex;
  justify-content: space-around;
}

.swiper-container {
  position: relative;
  margin-bottom: 120px;
  height: 670px;
  .swiper-slide {
    height: 93%;
  }
  .slider-button-prev {
    position: absolute;
    left: 2%;
    top: 43%;
    z-index: 10;
  }
  .slider-button-next {
    position: absolute;
    right: 2%;
    top: 43%;
    z-index: 10;
  }
  .arrow {
    width: 25px;
    opacity: .6;
  }
  .swiper-pagination-bullets {
    margin-top: 10px;
  }
  .swiper-pagination-bullet-active {
    background-color: green;
  }
}

.advantages-region {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 240px;
}

.advantages-title {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #1A1A1A;
  max-width: 1077px;
}
.advantages-btn {
  background-color: #fff;
  color: #46856E;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.75px;
  border: none;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 50px;
  margin-left: 6.7vw;
  cursor: pointer;
}

.advantages-cards {
  display: flex;

  .advantages-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 48px;
  }
}

.advantages-card-img {
  margin-bottom: 26px;
}
.advantages-card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: #1A1A1A;
  margin-bottom: 18px;
  margin-right: auto;
}

.advantages-card-description {
  font-size: 16px;
  line-height: 24px;
  color: #AAAAAA;
  text-align: left;
  max-width: 316px;
}

.reviews-region {
  background: url("../img/reviewsbg.jpg") no-repeat;
  height: 800px;
  margin-bottom: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.review-card {
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: 18rem;
}

.review-text {
  margin-top: 7px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  max-width: 250px;
}

.more-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.75px;
  margin-right: auto;
  margin-left: 18rem;
  cursor: pointer;
}


.we-region {
  margin-bottom: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.we-title {
  max-width: 882px;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #AAAAAA;
  margin-bottom: 25px;
}
.we-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 52px;
  color: #000000;
  margin-bottom: 135px;
  max-width: 882px;
  margin-right: 24rem;
}
.we-card {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.we-card-text {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
  margin-right: 220px;
}
.we-card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  color: #1A1A1A;
  margin-bottom: 27px;
}
.we-card-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #AAAAAA;
}

.bottom-image {
  margin-bottom: 290px;
  width: 1320px;
}

.container-for-trial {
  width: 1320px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trial-region  {
  margin-bottom: 80px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0;
  background-color: #f2f2f2;
  border-radius: 2px;

}

.trial-title {
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 51px;
  text-align: center;
  color: #000000;
  margin-top: 65px;
  margin-bottom: 50px;
}

.trial-cards {
  margin-bottom: 55px;
  display: flex;
  align-items: center;
}

.trial-card {
  margin-right: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100px;
  &:last-child {
    margin-right: 0;
  }
}
.trial-icon {
  margin-bottom: 22px;
}
.plug {
  margin-top: 11px;
}

.return-text {
  margin-top: 9px;
}

.get-btn {
  background-color: #46856e;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
  padding: 2px 28px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 26px;
}

.terms-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #AAAAAA;
  margin-bottom: 26px;
}
